<meta charset="UTF-8" />
<div id="teacher_list">
    <div class="main_data uk-panel ">
        <div class="uk-panel uk-panel-box">
            <table class="uk-table">
                <caption>教师列表</caption>
                <thead>
                <tr>
                    <th>教师名字</th>
                    <th>教师描述</th>


                </tr>
                </thead>
                <tbody th:if="${teacherList!=null}" >
                <tr th:each="list:${teacherList}">
                    <th th:text="${list.teacherName}"></th>
                    <th th:text="${list.teacherDesc}"></th>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="uk-panel-box uk-panel" style="margin-top: 10px">
        <h1>新增老师</h1>
        <form action="/eduInsView/addTeacher" method="post">
            <div class="uk-form-row">
                <label>老师名字：</label>
                <input  type="text" name="teacherName" placeholder="请输入老师名字" />
            </div>

            <div class="uk-form-row">
                <label>描述</label>
                <textarea name="teacherDesc" placeholder="请输入老师的描述"></textarea>
            </div>

            <div class="uk-form-row">
                <input type="submit" value="新增"/>
            </div>
        </form>

    </div>
</div>