<meta charset="UTF-8" />
<div id="course_list">
    <div class="main_data uk-panel ">
        <div class="uk-panel uk-panel-box">
            <table class="uk-table">
                <caption>课程列表</caption>
                <thead>
                <tr>
                    <th>课程Id</th>
                    <th>课程名字</th>
                    <th>课程描述</th>
                    <th>最大上课人数</th>
                    <th>开始上课日期</th>
                    <th>课程周数</th>
                    <th>一周课程数</th>
                    <th>课程价格</th>
                    <th>教师</th>

                </tr>
                </thead>
                <tbody th:if="${courseList!=null}" >
                <tr th:each="list:${courseList}">
                    <th><a th:href="'getCourseDetail/'+${list.id}"><p th:text="${list.courseId}"></p></a></th>
                    <th th:text="${list.courseName}"></th>
                    <th th:text="${list.courseDesc}"></th>
                    <th th:text="${list.maxPeople}"></th>
                    <th th:text="${list.startDate}"></th>
                    <th th:text="${list.weeks}"></th>
                    <th th:text="${list.weekTimes}"></th>
                    <th th:text="${list.price}"></th>
                    <th th:text="${list.teacher.teacherName}"></th>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>