<meta charset="UTF-8" />
<div id="grade_page">
    <div class="main_data uk-panel ">
        <div class="uk-panel uk-panel-box">
            <table class="uk-table">
                <caption>课程列表</caption>
                <thead>
                <tr>
                    <th>课程Id</th>
                    <th>学生Id</th>
                    <th>成绩</th>
                </tr>
                </thead>
                <tbody th:if="${gradeList!=null}" >
                <tr th:each="list:${gradeList}">
                    <th th:text="${list.courseId}"></th>
                    <th th:text="${list.studentId}"></th>
                    <th th:text="${list.score}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>