<meta charset="UTF-8" />
<div id="teacher_list">
    <div class="main_data uk-panel ">
        <div class="uk-panel uk-panel-box">
            <table class="uk-table">
                <caption>教育机构列表</caption>
                <thead>
                <tr>
                    <th>教师名字</th>
                    <th>教师描述</th>
                    <th>教师所属机构</th>
                </tr>
                </thead>
                <tbody th:if="${tl!=null}" >
                <tr th:each="list:${tl}">
                    <th th:text="${list.teacherName}"></th>
                    <th th:text="${list.teacherDesc}"></th>
                    <th th:text="${list.eduInstitution.eduInsName}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>