<meta charset="UTF-8" />
<div id="order_list">
    <div class="main_data uk-panel ">
        <div class="uk-panel uk-panel-box">
            <table class="uk-table">
                <caption>订单列表</caption>
                <thead>
                <tr>
                    <th>订单Id</th>
                    <th>下单用户</th>
                    <th>机构名字</th>
                    <th>课程名字</th>
                    <th>订单日期</th>
                    <th>订单状态</th>
                    <th>订单金额</th>
                    <!--<th>查看详情</th>-->

                </tr>
                </thead>
                <tbody th:if="${orderList!=null}" >
                <tr th:each="list:${orderList}">
                    <th th:text="${list.orderId}"></th>
                    <th th:if="${list.user!=null}" ><p th:text="${list.user.userName}"></p></th>
                    <th th:if="${list.user==null}" ><p>无会员注册</p></th>

                    <th th:text="${list.eduInsPlan.eduInstitution.eduInsName}"></th>
                    <th th:text="${list.eduInsPlan.courseName}"></th>
                    <th th:text="${list.orderDate}"></th>
                    <!--订单状态-->
                    <th th:if="${list.orderStatus=='0'}" ><p>未支付</p></th>
                    <th th:if="${list.orderStatus=='1'}" ><p>已完成</p></th>
                    <th th:if="${list.orderStatus=='2'}" ><p>订单失效</p></th>
                    <th th:if="${list.orderStatus=='3'}" ><p>申请退款中</p></th>
                    <th th:if="${list.orderStatus=='4'}" ><p>完成退款</p></th>

                    <th th:text="${list.consume}"></th>
                    <!--th:href="'/order/userOrderDetail/'+${list.id}"-->
                    <!--<th> <button><a >查看更多</a></button></th>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>